@keyframes bounce {
    0% { transform: scale(1.02); }
    33% { transform: scale(0.99); }
    99% { transform: scale(1); }
    100% { transform: none; }
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
  
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes change_view_glitch {
  0% {
    transform: none;
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  25% {
    transform: skew(-0.1deg, 0deg);
    opacity: 0.8;
  }
  35% {
    transform: none;
    opacity: 0.6;
  }
  50% {
    transform: skew(0deg, -0.1deg);
    opacity: 0.5;
  }
  60% {
    transform: none;
    opacity: 1;
  }
  80% {
    transform: skew(-0.1deg, 0deg);
    opacity: 0.7;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes bg_alert {
  0% { background: #ff000030; }
  50% { background: #ff000050; }
  100% { background: #ff000030; }
}

@keyframes UIerror {
  0% { background: #ff000030; }
  45% { background: #ff000017; }
  60% { background: #00ff0010; }
  100% { background: #ff000030; }
}

.UIerror { animation: UIerror .17s ;}

.anim_alert { animation: bg_alert 2s infinite; }

.anim_bounce { animation: bounce .2s; }

.change_view_glitch { animation: change_view_glitch .2s; }

.bg_front {
  background: url('../assets/img/bg-front.png');
  background-repeat: repeat;
  animation: glitch1 10s infinite;
}
.bg_1 {
  background: url('../assets/img/bg-1.png');
  background-repeat: repeat;
  animation: glitch2 10s infinite;
}
.bg_2 {
  background: url('../assets/img/bg-2.png');
  background-repeat: repeat;
  animation: glitch3 10s infinite;
}

.hello-ascii.glitch2 { 
    color: #00ff0030;
    animation: glitch2 4s infinite; 
}
.hello-ascii.glitch3 { 
    color: #7c00ffb8;
    animation: glitch3 4s infinite; 
}

.ascii-title.glitch2 {
  color: #00ff0030;
  animation: glitch2 4s infinite; 
}
.ascii-title.glitch3 {
  color: #7c00ffb8;
  animation: glitch3 4s infinite; 
}